<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Program</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].program %> :  <%= results[0][i].count %></li>
    <% } %>
    </ul>
    <h2>Would You Revisit Website</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].yn %> :  <%= results[1][i].count %></li>
    <% } %>
    </ul>
    <h2>Characteristic</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].characteristic %> :  <%= results[2][i].count %></li>
    <% } %>
    </ul>
    <h2>Comparison</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].comparison %> :  <%= results[3][i].count %></li>
    <% } %>
    </ul>
    <h2>Comments</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].comment %> :  <%= results[4][i].count %></li>
    <% } %>
    </ul>
    <h2>Likert Scale</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].likert %> :  <%= results[5][i].count %></li>
    <% } %>
    </ul>
</body>
</html>
