<html lang="en-US">
<head>
    <title>Survey Results</title>
</head>

<body>
    <h1>Survey Results</h1>
    <h2>Name</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].program %> :  <%= results[0][i].count %></li>
    <% } %>
    </ul>
    <h2>Would You study at uottawa.ca again</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].yn %> :  <%= results[1][i].count %></li>
    <% } %>
    </ul>
    <h2>Likes</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].characteristic %> :  <%= results[2][i].count %></li>
    <% } %>
    </ul>
    <h2>Comparison to other Universities</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].comparison %> :  <%= results[3][i].count %></li>
    <% } %>
    </ul>
    <h2>Other comments</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].comment %> :  <%= results[4][i].count %></li>
    <% } %>
    </ul>
    <h2>easy to navigate</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].likert %> :  <%= results[5][i].count %></li>
    <% } %>
    </ul>
</body>
</html>
